Import Pandas library

In [ ]:
import pandas as pd

Initialize pandas dataframes from dictionary

In [5]:
id=[1,2]
col1= [15,0]
col2=[20,'']
col3=[8,5]

dict_1 = {'id':id,'col1': col1, 'col2': col2, 'col3':col3}
df1= pd.DataFrame(dict_1)
df1.head()

   id  col1 col2  col3
0   1    15   20     8
1   2     0          5

In [6]:
id=[1,2]
col1= [10,10]
col2=[10,30]
col3=[40,50]

dict_2 = {'id':id,'col1': col1, 'col2': col2, 'col3':col3}
df2= pd.DataFrame(dict_2)
df2.head()

   id  col1  col2  col3
0   1    10    10    40
1   2    10    30    50

Merge datafames using pd.concat

In [7]:
df_merge = pd.concat([df1,df2])
df_merge

   id  col1 col2  col3
0   1    15   20     8
1   2     0          5
0   1    10   10    40
1   2    10   30    50